@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    @apply font-sans;
    line-height: 1.5;
    font-weight: 400;
    color-scheme: light dark;
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: rgba(255, 255, 255, 0.87);
    background-color: #242424;
  }

  body {
    @apply m-0 min-w-[320px] min-h-screen flex items-center justify-center bg-slate-100 text-slate-900;
  }

  a {
    @apply font-medium text-gray-500 no-underline;
  }

  a:hover {
    @apply text-gray-200;
  }

  h1 {
    @apply text-4xl leading-tight;
  }

  button {
    @apply rounded-lg border border-transparent px-4 py-2 text-base font-medium bg-neutral-900 text-white cursor-pointer transition-colors;
  }

  button:focus,
  button:focus-visible {
    @apply outline outline-4 outline-offset-2 outline-gray-100;
  }
}

@layer components {
  .command-btn {
    @apply rounded-full py-1 px-4 text-sm font-semibold text-white shadow transition-colors;
  }
}
